doctype 5
html
  head
    title Update Address
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    script(type="text/javascript", src="/js/add.js")
  body(onload="returnValue('#{family_id}')")
    div#search_main
      block main
        != "<script type='text/javascript'>"
        != "var zip_code_list = {};"
        each row in zip_codes
          != "zip_code_list['" + row.zip_code + "'] = ['" + row.city + "','" + row.state + "'];"
        != "</script>"
        form(method="POST",action="add")
          label
            |Street Address
            - if (typeof(invalid_fields) != "undefined") {
              - if (invalid_fields.indexOf("address") > -1) {
                span(class="error")
                  |(Please provide)
                input(type="text",name="address")
              - }
            - } else if (typeof(address[0].address) != "undefined") {
                input(type="text",name="address",value="#{address[0].address}")
            - } else {
                input(type="text",name="address")
            - }
          label
            |Zip Code
            - if (typeof(invalid_fields) != "undefined") {
              - if (invalid_fields.indexOf("zip") > -1) {
                span(class="error")
                  |(Please provide)
              - }
            - }
            select(id="zip",name="zip",onchange="getZipInfo(zip_code_list)")
              option(value="") Choose...
              - if (typeof(address[0].zip) != "undefined") {
                each row in zip_codes
                  - if (row.zip_code == address[0].zip) {
                    option(value="#{row.zip_code}",selected)= row.zip_code
                  - } else {
                    option(value="#{row.zip_code}")= row.zip_code
                  - }
              - } else {
                each row in zip_codes
                  option(value="#{row.zip_code}")= row.zip_code
              - }

          - if (typeof(address[0].zip != "undefined")) {
            each row in zip_codes
              - if (row.zip_code == address[0].zip) {
                label
                  |City:
                  span(id="city")
                    = row.city
                label
                  |State:
                  span(id="state")
                    = row.state
              - }
          - } else {
            label
              |City:
              span(id="city")
            label
              |State:
              span(id="state")
          - }